# Output files from source code testing
*.o
testing
opencv_stream/client/client
opencv_stream/client/client.o
opencvcam/cap.png
opencv_stream/client/python/__pycache__/
opencv_stream/server/serverOriginal/

opencv_stream/client/cpp/client
opencv_stream/server/server
__pycache__
